<h6>Selecciona una empresa con la cual trabajar</h6>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Deseo registrar una empresa nueva
</button>
<br>
<br>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<h6 *ngIf="empresas && empresas.Empresas.length === 0 && !loading">Parece ser que aún no has registrado empresas</h6>
<div  *ngIf="empresas && empresas.Empresas.length>0 && !loading" class="row">
<div class="col-md-6">
  <div class="form-group">
    <label for="">Buscar empresa por nombre</label>
    <input placeholder="Nombre de la empresa" type="text" [(ngModel)]="criteria" (ngModelChange)="searchByName()" class="form-control">
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label for="">Busca empresa por folio de examen</label>
    <input placeholder="Folio de examen" type="text" [(ngModel)]="folio" (ngModelChange)="changeFolio()" class="form-control">
    <button style="margin-top: 5px;" class="btn btn-sm btn-success" (click)="searchByRelation()">Buscar</button>
  </div>
</div>
<div class="col-md-3">
  <div class="form-group">
    <label for="">Busca empresa por id de venta</label>
    <input placeholder="Id de venta" type="number" min="1" [(ngModel)]="id" (ngModelChange)="changeId()" class="form-control">
    <button style="margin-top: 5px;" class="btn btn-sm btn-success" (click)="searchByRelation(false)">Buscar</button>
  </div>
</div>



<div class="table-responsive">
  <h6>Simplemente has click sobre la empresa con la que quieras empezar a trabajar y las opciones aparecerán en la barra de navegación</h6>
<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th scope="col">Domicilio</th>
        <th scope="col">Telefono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="empresasMirror">
      <tr *ngFor="let empresa of empresasMirror.Empresas" (click)="setEmpresa(empresa.EmpresaID, empresa.NombreEmpresa)">
        <th scope="row">{{empresa.EmpresaID}}</th>
        <td>{{empresa.NombreEmpresa}}</td>
        <td>{{empresa.Domicilio}}</td>
        <td>{{empresa.Telefono}}</td>
        <td><Button class="btn btn-primary" data-toggle="modal" (click)="setEmpresaUpdate(empresa)" data-target="#editempresa">Actualizar</Button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registra una nueva empresa</h5>
          <button type="button" #closeModal class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Nombre empresa: </label>
              <input maxlength="60" name="nombre" [(ngModel)]="empresaRegistration.Nombre" type="Text" class="form-control" name="nombre" placeholder="Nombre de empresa">
            </div>
            <div class="form-group">
              <label>Domicilio: </label>
              <input name="domicilio" [(ngModel)]="empresaRegistration.Domicilio" type="Text" class="form-control"  placeholder="Domicilio">
            </div>
            <div class="form-group">
              <label>Teléfono: </label>
              <input maxlength="20" name="telefono" [(ngModel)]="empresaRegistration.Telefono" type="tel" class="form-control"  placeholder="Teléfono">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div *ngIf="loadingRegistration">
            <app-loading></app-loading>
          </div>
          <button *ngIf="!loadingRegistration" type="button"  class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button *ngIf="!loadingRegistration" type="button" (click)="RegistraEmpresa()" class="btn btn-primary">Registrar empresa</button>
        
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="editempresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar datos de empresa</h5>
            <button type="button" #closeUpdate class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label>Nombre empresa: </label>
                <input maxlength="60" name="nombre" [(ngModel)]="empresaUpdate.NombreEmpresa" type="Text" class="form-control" name="nombre" placeholder="Nombre de empresa">
              </div>
              <div class="form-group">
                <label>Domicilio: </label>
                <input name="domicilio" [(ngModel)]="empresaUpdate.Domicilio" type="Text" class="form-control"  placeholder="Domicilio">
              </div>
              <div class="form-group">
                <label>Teléfono: </label>
                <input maxlength="20" name="telefono" [(ngModel)]="empresaUpdate.Telefono" type="tel" class="form-control"  placeholder="Teléfono">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div *ngIf="loadingRegistration">
              <app-loading></app-loading>
            </div>
            <button *ngIf="!loadingRegistration" type="button"  class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button *ngIf="!loadingRegistration" type="button" (click)="UpdateEmpresa()" class="btn btn-primary">Actualizar Datos empresa</button>
          </div>
        </div>
      </div>
    </div>