<div class="row">
    <div class="col-md-12"><h2>Resumen ejecutivo para Empresa: {{nombreEmpresa}}</h2></div>
    <div *ngIf="fastSummaryData.length > 0" class="col-md-12">
        <ngx-charts-bar-horizontal [results]="fastSummaryData"
        [xAxisLabel]="'Número de beneficiarios'" 
        [showXAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="false">
    </ngx-charts-bar-horizontal>
    </div>
    <div *ngIf="fastSummaryData.length > 0" class="col-md-3">
        <div class="table-responsive">
            <table *ngIf="fullSumarySaleData.length > 0" class="table table-hover"> 
              <tbody>
                <tr *ngFor="let row of fullSumarySaleData">
                    <th scope="col">{{row.name}}</th>
                    <td>{{row.value}}</td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <td>{{fastSummaryData[0].value}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <div *ngIf="fullSumarySaleData.length>0" class="col-md-9">
        <ngx-charts-bar-vertical 
        [results]="fullSumarySaleData"
        [yAxisLabel]="'Beneficiarios'"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [gradient]="true">
    </ngx-charts-bar-vertical>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Enfermedades visuales</h4>
        </div>
        <div *ngIf="enfermedadesData.length > 0" class="col-md-3">
            <div class="table-responsive">
                <table *ngIf="enfermedadesData.length > 0" class="table table-hover"> 
                  <tbody>
                    <tr *ngFor="let row of enfermedadesData">
                        <th scope="col">{{row.name}}</th>
                        <td>{{row.value}}</td>
                    </tr>
                    <tr>
                        <th>
                            Total
                        </th>
                        <td>{{fastSummaryData[0].value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        <div *ngIf="enfermedadesData.length > 0" class="col-md-9" style="margin-bottom: 50px;">
            <ngx-charts-pie-chart 
                [results]="enfermedadesData" 
                [labels]="true" >
            </ngx-charts-pie-chart>
        </div>
        <div *ngIf="enfermedadesData.length > 0" class="col-md-12" style="margin-bottom: 30px;">
            <ngx-charts-bar-vertical [view]="[1200,400]" [results]="enfermedadesData"
                [xAxisLabel]="'Número de beneficiarios'" [legendTitle]="'Enfermedades'" [legend]="true"
                [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 50px;"><h4>Control materiales para ISO 9000</h4></div>
        <div *ngIf="isosData.length > 0" class="col-md-12" style="margin-bottom: 30px;">
            <ngx-charts-advanced-pie-chart 
                [results]="isosData"
                [gradient]="true" >
            </ngx-charts-advanced-pie-chart>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12" style="text-align:center; margin-bottom: 30px">
        <button class="btn btn-lg btn-success" (click)="downloadAsPdf()">Generar Reporte</button>
    </div>
</div>